{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Hello world in about page</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/hello-world.png" class="img-thumbnail">
        </div>
        
    </div>

{{> footer}}  